/* ------ */
/* Variables */
/* ------ */

:root {
  --size-title: min(100%, 24rem);
  --size-subtitle: clamp(1.75rem, 3vw, 2.5rem);

  --size-page-max-width: 100rem;

  --spacing-default: 1rem;
  --spacing-small: 0.5rem;
  --spacing-large: 2rem;

  --color-primary: #35ACF0;
  --color-seconday: #ECA34A;
  --color-accent: #E24A96;

  --color-background: white;
  --color-background-inverse: #666666;
  --color-font: black;
  --color-font-inverse: white;
}

/* ------ */
/* Common */
/* ------ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-font);
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
}

body,
.container {
  height: 100vh;
}

footer,
.container {
  margin: 0 auto;
  max-width: var(--size-page-max-width);
  padding: 0 var(--spacing-default);
}

header,
footer {
  text-align: center;
  padding: 0;
}

/* ---------- */
/* Typography */
/* ---------- */

h1,
h2,
h3,
h4,
.page-title {
  font-family: 'MuseoModerno', cursive;
}

h1,
h2,
h3,
h4 {
  font-weight: 800;
  line-height: 1;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* ------ */
/* Header */
/* ------ */

.page-title {
  animation-name: slide-from-left;
  animation-duration: .75s;
  color: var(--color-primary);
  font-size: var(--size-title);
  width: var(--size-title);
}

.page-subtitle {
  animation-name: slide-from-right;
  animation-duration: .75s;
  font-size: var(--size-subtitle);
}

@keyframes slide-from-left {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

/* ------ */
/* Footer */
/* ------ */

footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  footer {
    flex-direction: row;
  }

  footer *:not(:last-child)::after {
    content: ' - ';
    white-space: pre;
  }
}

/* ------- */
/* Spacing */
/* ------- */

main > * + * {
  margin-top: var(--spacing-default);
}

section > * + * {
  margin-top: var(--spacing-small);
}

* + section {
  margin-top: var(--spacing-large);
}

/* ---- */
/* Code */
/* ---- */

code {
  background-color: var(--color-background-inverse);
  border-radius: 3px;
  color: var(--color-font-inverse);
  font-size: 85%;
  font-weight: 400;
  padding: .2em .4em;
}

/* ----- */
/* Links */
/* ----- */

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover,
a:focus,
a:focus-visible {
  text-decoration: underline;
}

/* ------ */
/* Layout */
/* ------ */

.container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 960px) {
  .container {
    display: grid;
    column-gap: var(--spacing-default);
    grid-template-columns: 40% 1fr;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
    "h h"
    "s m"
    "f f";
  }
}

.container > * + *{
  margin-top: var(--spacing-large);
}

header {
  grid-area: h;
}

footer {
  grid-area: f;
}

aside {
  grid-area: s;
}

main {
  grid-area: m;
}
